/******************************************************
	$GENERAL
******************************************************/
body {	
	color:#666;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	line-height:1.3;
	letter-spacing:1.2;
}




/*== SPACERS ==*/
.clear {clear:both;}
[class^="spacer"] {display:block; clear:both;}
.spacer-xs {height:5px;}
.spacer-sm {height:10px;}
.spacer {height:20px;}
.spacer-lg {height:40px;}
.spacer-xl {height:60px;}
.spacer-xxl {height:100px;}
.h-pad-small {padding-left:10px; padding-right:10px;}
.v-pad-small {padding-top:10px; padding-bottom:10px;}
.h-pad {padding-left:15px; padding-right:15px;}
.v-pad {padding-top:15px; padding-bottom:15px;}
.h-pad-large {padding-left:30px; padding-right:30px;}
.v-pad-large {padding-top:30px; padding-bottom:30px;}

.relative {position:relative;}

.w10 {width:10%;}
.w20 {width:20%;}
.w25 {width:25%;}
.w30 {width:30%;}
.w33 {width:33.33336%;}
.w40 {width:40%;}
.w50 {width:50%;}
.w60 {width:60%;}
.w70 {width:70%;}
.w75 {width:75%;}
.w80 {width:80%;}
.w90 {width:90%;}

.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr40 {margin-right:40px;}

.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml30 {margin-left:30px;}
.ml40 {margin-left:40px;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}


.flex {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}


/* == FONT STYLES == */
.normal {font-weight:normal;}
.bold {font-weight:bold;}
.italic {font-style:italic;}
.underline {text-decoration:underline;}
.uppercase {text-transform:uppercase;}
.capitalize {text-transform:capitalize;}
.lowercase {text-transform:lowercase;}
.text-center, td.text-center, th.text-center {text-align:center;}
.text-right, td.text-right, th.text-right {text-align:right;}
.text-left, td.text-left, th.text-left {text-align:left;}


/* == FONT SIZES ==*/
.size10 {font-size:10px;}
.size12 {font-size:12px;}
.size14 {font-size:14px;}
.size16 {font-size:16px;}
.size18 {font-size:18px;}
.size20 {font-size:20px;}
.size22 {font-size:22px;}
.size24 {font-size:24px;}
.size26 {font-size:26px;}
.size28 {font-size:28px;}
.size30 {font-size:30px;}
.size35 {font-size:35px;}
.size40 {font-size:40px;}
.size45 {font-size:45px;}
.size50 {font-size:50px;}
.size55 {font-size:55px;}
.size60 {font-size:60px;}
.size70 {font-size:70px;}
.size80 {font-size:80px;}
[class*=size] {line-height:1.3;}


/* === COLORS === */
.white {color:#fff;}
.black {color:#000;}
.red {color:#b40101;}
.blue {color:#428bca;}
.darkblue {color:#190FAB;}
.green {color:#398600;}
.yellow {color:#BBC714;}
.light-gray {color:#ccc;}
.gray {color:#999;}
.dark-gray {color:#666;}

.bg-light-grey {background-color:#eee;}
.bg-grey {background-color:#ccc;}
.bg-dark-grey {background-color:#777;}
.bg-green {background-color:#398600;}
.bg-red {background-color:#f00;}
.bg-yellow {background-color:#ebd412;}
.bg-darkblue {background-color: #190FAB;}




/* == DESIGN ELEMENTS == */
.cursor {cursor:pointer;}
hr {
	border-top:1px solid #e5e5e5;
	height:1px;
	margin:20px auto;
	width:100%;
	clear:both;
}
hr.half {width:50%;}
hr.third {width:33.333%;}
hr.quarter {width:25%;}
hr.no-margin {margin:0 auto;}
hr.margin-small {margin:10px auto;}
img.limit {max-width:180px;}
.row.no-margin {margin-left:0; margin-right:0;}
.pointer {cursor:pointer;}
.word-wrap-break {white-space: normal;}
.inline {display:inline;}
.inline-block {display:inline-block;}

.rounded {border-radius:5px;}
.rounded-top {border-top-right-radius: 5px; border-top-left-radius: 5px;}
.rounded-bottom {border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.rounded-left {border-top-left-radius:5px; border-bottom-left-radius:5px;}
.rounded-right {border-top-right-radius:5px; border-bottom-right-radius:5px;}

.box-shadow {box-shadow:0 0 5px 0 rgba(0,0,0,0.3); -webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);}

.v-align-middle {vertical-align: middle;}









/******************************************************
	$MEDIA QUERIES
******************************************************/

/* === Large Desktops === */
@media (min-width: 1200px) {
}




/* === Medium Desktops === */
@media (max-width: 1199px) {
}




/* === Medium Devices === */
@media (max-width: 991px) {
}




/* === Larger Than Small Devices === */
@media (min-width: 768px) {
}




/* === Small Devices === */
@media (max-width: 767px) {
}




/* === iPhone Level Width === */
@media (max-width: 479px) {
}